In [13]:
import os
import pandas as pd
from pandasgui import show

PandasGUI ERROR — pandasgui.store — cannot assign without a target object
Traceback (most recent call last):
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandasgui\store.py", line 621, in apply_filters
    df = df.query(filt.expr, engine='python')
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\frame.py", line 4599, in query
    res = self.eval(expr, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\frame.py", line 4725, in eval
    return _eval(expr, inplace=inplace, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\eval.py", line 336, in eval
    parsed_expr = Expr(expr, engine=engine, parser=parser, env=env)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 808, in __init__
    self.terms = self.parse()
                 ^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 827, in parse
    return self._visitor.visit(self.expr)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 417, in visit_Module
    return self.visit(expr, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 621, in visit_Assign
    raise ValueError("cannot assign without a target object")
ValueError: cannot assign without a target object
PandasGUI ERROR — pandasgui.store — cannot assign without a target object
Traceback (most recent call last):
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandasgui\store.py", line 621, in apply_filters
    df = df.query(filt.expr, engine='python')
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\frame.py", line 4599, in query
    res = self.eval(expr, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\frame.py", line 4725, in eval
    return _eval(expr, inplace=inplace, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\eval.py", line 336, in eval
    parsed_expr = Expr(expr, engine=engine, parser=parser, env=env)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 808, in __init__
    self.terms = self.parse()
                 ^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 827, in parse
    return self._visitor.visit(self.expr)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 417, in visit_Module
    return self.visit(expr, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 411, in visit
    return visitor(node, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\pandas\core\computation\expr.py", line 621, in visit_Assign
    raise ValueError("cannot assign without a target object")
ValueError: cannot assign without a target object
C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\anaconda3\envs\dm\Lib\site-packages\ipykernel\eventloops.py:128: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [2]:
#Variáveis globais

In [ ]:
#Cria consulta com todos os códigos de DM do E10 até E14.
DM_E10_E14 = []
for i in range(10,15):
    for j in range(10):
        DM_E10_E14.append("E{}{}".format(i,j))

In [163]:
FILTERS = [('DIAG_PRINC','in',DM_E10_E14),
           ('PROC_REA','in',['0408050012','0408050020'])          ]
df = pd.read_parquet('dataset/RDRJ1901.parquet',filters=FILTERS).astype({'VAL_TOT':'float','VAL_UTI': 'float'})

In [148]:
df

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,330630,2019,01,01,03272699000137,3319101839174,1,27253220,330630,19490612,...,,0,0,0,0,0,0,0,0,0
1,330452,2019,01,01,,3319101866069,1,28893480,330452,19640319,...,,1,0,0,0,0,0,0,0,0
2,330455,2019,01,01,29468055000455,3318108178627,1,21615520,330455,19660314,...,,0,0,0,0,0,0,0,0,0
3,330455,2019,01,01,00394544020372,3318108044251,1,21370260,330455,19481109,...,,0,0,0,0,0,0,0,0,0
4,330455,2019,01,01,33540014001714,3318106999977,1,26535110,330320,19660217,...,,2,0,0,0,0,0,0,0,0
5,330455,2019,01,01,29468055000293,3318108769987,1,23890000,330555,19620824,...,,0,0,0,0,0,0,0,0,0
6,330455,2019,01,01,29468055000293,3318106964403,1,26520670,330320,19620613,...,,0,0,0,0,0,0,0,0,0
7,330455,2019,01,01,29468055000293,3318108755489,1,23010550,330455,19720502,...,,0,0,0,0,0,0,0,0,0
8,330455,2019,01,01,29468055000293,3318108745600,1,20220750,330455,19500121,...,,0,0,0,0,0,0,0,0,0
9,330455,2019,01,01,33663683005347,3319101555176,1,21932090,330455,19651121,...,,0,0,0,0,0,0,0,0,0
10,330455,2019,01,01,29468055000293,3318108781240,1,20251070,330455,19740206,...,,0,0,0,0,0,0,0,0,0
11,330455,2019,01,01,00394544020453,3318108687608,1,20240090,330455,19360620,...,,0,0,0,0,0,0,0,0,0
12,330455,2019,01,01,00394544020453,3318107198880,1,21745080,330455,19410929,...,,0,0,0,0,0,0,0,0,0
13,330455,2019,01,01,,3319101669488,1,23555012,330455,19550621,...,,2,0,0,0,0,0,0,0,0
14,330455,2019,01,01,00394544020453,3318108793978,1,28540000,330150,19540208,...,,1,0,0,0,0,0,0,0,0
15,330455,2019,01,01,29468055000455,3318108810709,1,21215030,330455,19461215,...,,0,0,0,0,0,0,0,0,0
16,330455,2019,01,01,00394544020453,3318108824250,1,25545150,330510,19710816,...,,0,0,0,0,0,0,0,0,0
17,330455,2019,01,01,29468055001346,3318107176340,1,21331290,330455,19550806,...,,0,0,0,0,0,0,0,0,0
18,330455,2019,01,01,29468055000374,3319101669191,1,25015295,330170,19640416,...,,0,0,0,0,0,0,0,0,0
19,330455,2019,01,01,,3318108642618,1,23555012,330455,19571214,...,,2,0,0,0,0,0,0,0,0
20,330455,2019,01,01,,3319101676957,1,23098220,330455,19490325,...,,2,0,0,0,0,0,0,0,0
21,330455,2019,01,01,00394544021182,3318108161478,1,24890000,330575,19740720,...,,0,0,0,0,0,0,0,0,0
22,330455,2019,01,01,00394544021182,3318108054327,1,25030180,330170,19500908,...,,0,0,0,0,0,0,0,0,0
23,330455,2019,01,01,00394544021182,3318108061356,1,26033240,330350,19640412,...,,0,0,0,0,0,0,0,0,0
24,330490,2019,01,01,28636579002065,3318108977007,1,24440000,330490,19460715,...,,0,0,0,0,0,0,0,0,0
25,330580,2019,01,01,60922168001077,3319101797451,1,25965175,330580,19590512,...,,0,0,0,0,0,0,0,0,0
26,330580,2019,01,01,32190092000378,3318109104552,1,25976560,330580,19410225,...,,0,0,0,0,0,0,0,0,0
27,330000,2019,01,01,,3319101849536,1,24710350,330490,19500108,...,,0,0,0,0,0,0,0,0,0
28,330000,2019,01,01,,3318109747370,1,24744150,330490,19581007,...,,0,0,0,0,0,0,0,0,0
29,330000,2019,01,01,,3319101849404,1,24474785,330490,19531027,...,,0,0,0,0,0,0,0,0,0
30,330000,2019,01,01,,3319101993890,1,25575080,330510,19581113,...,,0,0,0,0,0,0,0,0,0
31,330000,2019,01,01,42498717000317,3319101809067,1,21070061,330455,19440529,...,,0,0,0,0,0,0,0,0,0
32,330000,2019,01,01,42498717000317,3318109236860,1,20250150,330455,19610929,...,,2,0,0,0,0,0,0,0,0
33,330000,2019,01,01,42498717000236,3319101711189,1,21550460,330455,19500421,...,,1,0,0,0,0,0,0,0,0
34,330000,2019,01,01,,3319101843431,1,24450000,330490,19540902,...,,0,0,0,0,0,0,0,0,0
35,330040,2019,01,01,28683712000171,3318108555003,1,27310450,330040,19500804,...,,0,0,0,0,0,0,0,0,0
36,330040,2019,01,01,28683712000171,3318109768446,1,27332010,330040,19470628,...,,0,0,0,0,0,0,0,0,0
37,330040,2019,01,01,28683712000171,3319101873956,1,27340002,330040,19350609,...,,0,0,0,0,0,0,0,0,0
38,330070,2019,01,01,36475879000256,3319102191427,1,28911250,330070,19550330,...,,0,0,0,0,0,0,0,0,0
39,330070,2019,01,01,36475879000256,3319102190679,1,28910000,330070,19260701,...,,0,0,0,0,0,0,0,0,0
40,330100,2019,01,01,,3318108486154,1,28120000,330100,19651020,...,,0,0,0,0,0,0,0,0,0
41,330170,2019,01,01,,3319102262070,1,25010008,330170,19570511,...,,0,0,0,0,0,0,0,0,0
42,330170,2019,01,01,,3319102269714,1,21044760,330455,19450111,...,,0,0,0,0,0,0,0,0,0
43,330170,2019,01,01,,3318109278165,1,26180150,330045,19430627,...,,0,0,0,0,0,0,0,0,0
44,330170,2019,01,01,,3319102262290,1,25045540,330170,19450810,...,,0,0,0,0,0,0,0,0,0
45,330170,2019,01,01,,3319102262300,1,36889094,314390,19710623,...,,0,0,0,0,0,0,0,0,0
46,330170,2019,01,01,,3319102262333,1,25240050,330170,19420325,...,,0,0,0,0,0,0,0,0,0
47,330170,2019,01,01,,3319102266689,1,25065200,330170,19550506,...,,0,0,0,0,0,0,0,0,0
48,330170,2019,01,01,,3318109278210,1,25230430,330170,19480623,...,,0,0,0,0,0,0,0,0,0
49,330170,2019,01,01,,3318109266252,1,28695000,330080,19390527,...,,0,0,0,0,0,0,0,0,0
50,330340,2019,01,01,,3318109121239,1,28633080,330340,19510610,...,,1,1,0,0,0,0,0,0,0
51,330340,2019,01,01,,3318108400827,1,28600990,330340,19621112,...,,0,0,0,0,0,0,0,0,0
52,330350,2019,01,01,29138278003208,3319101963090,1,26255130,330350,19690905,...,,0,0,0,0,0,0,0,0,0
53,330350,2019,01,01,29138278003208,3319101962825,1,26291473,330350,19530508,...,,0,0,0,0,0,0,0,0,0
54,330350,2019,01,01,29138278003208,3319101965553,1,26255130,330350,19700611,...,,0,0,0,0,0,0,0,0,0
55,330350,2019,01,01,29138278003208,3319101963892,1,26220060,330350,19581208,...,,0,0,0,0,0,0,0,0,0
56,330350,2019,01,01,29138278003208,3319101963914,1,26445060,330227,19590217,...,,0,0,0,0,0,0,0,0,0

In [149]:
show(df)

PandasGUI INFO — pandasgui.gui — Opening PandasGUI
C:\Users\giova\AppData\Local\Temp\ipykernel_35560\1525291607.py:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\AppData\Local\Temp\ipykernel_35560\1525291607.py:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\AppData\Local\Temp\ipykernel_35560\1525291607.py:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\AppData\Local\Temp\ipykernel_35560\1525291607.py:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\AppData\Local\Temp\ipykernel_35560\1525291607.py:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

C:\Users\giova\AppData\Local\Temp\ipykernel_35560\1525291607.py:1: FutureWarning:

Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [154]:
df = df.astype({'VAL_TOT':'float','VAL_UTI': 'float'})
#x['VAL_TOT_UTI'] = x.copy()['VAL_TOT'] + x.copy()['VAL_UTI']
#df['VAL_TOT_UTI'] = df.copy()[['VAL_TOT', 'VAL_UTI']].sum(axis=1)
#x['VAL_TOT_UTI'] = x.apply(lambda row: row['VAL_TOT'] + row['VAL_UTI'], axis=1)
#x = df.groupby('ANO_CMPT')['VAL_TOT'].sum()

C:\Users\giova\AppData\Local\Temp\ipykernel_35560\232706673.py:3: PerformanceWarning:

DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`

In [151]:
x['VAL_TOT_UTI'].sum()

69113.77

In [140]:
x['VAL_TOT'].sum()

64805.29

In [164]:
pd.pivot_table(df,values=['VAL_TOT','VAL_UTI'],index=['ANO_CMPT'],aggfunc='sum')

           VAL_TOT  VAL_UTI
ANO_CMPT
2019      64805.29  4308.48